<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>banknifty bot Fyers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		@media screen and (min-width: 601px) {
		  p {
		    font-size: 30px;
		    font-size: 1.25vw;
		  }
		}

		/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
		@media screen and (max-width: 600px) {
		  p {
		    font-size: 30px;
		    font-size: 3.5vw;
		  }
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Select your Trading Bot</a>
  	</nav>
  	<br><br>
	<div class="container align-items-center mb-3 ml-2 p-2">
		<div class="row"> 
			<div class="col-sm-4">
				<p class="p-1 mb-2 bg-light" style="color:red;"> Please give inputs to the BANK-NIFTY Futures BOT between 7AM-9:15AM everyday. <br>No orders will be placed after 9:15AM </p> 
				<p id="bn_futures_bot_intro_text">Execute Bank Nifty Futures Bot</p>
				<button type="button" class="btn btn-primary" onclick="OpenBnFuturesFormOnButtonClick()" id="bn_futures_formbutton"> BankNifty Futures Bot </button>
				<br>
				{{context}}
				<form id="bn_futures_form" method="POST" style="display:none" class="form-group" action="{% url 'bn_futures_bot_url' %}">
					{% csrf_token %}
					{{bn_futures_form.as_p}}
					<input class="btn btn-danger" type="submit" name="" value="Submit" onclick="displayToast()"/>
				</form>
				<br>
			</div>
			<div class="col-sm-4">
				<p class="p-1 mb-2 bg-light" style="color:red;"> Please give inputs to the BANK-NIFTY Options BOT between 7AM-9:15AM everyday. <br>No orders will be placed after 9:15AM </p>
				<p id="bn_options_bot_intro_text">Execute Bank Nifty Options Bot</p>
				<button type="button" class="btn btn-primary" onclick="OpenBnOptionsFormOnButtonClick()" id="bn_options_formbutton"> BankNifty Options Bot </button>
				<br>
				{{context}}
				<form id="bn_options_form" method="POST" style="display:none" class="form-group" action="{% url 'bn_options_bot_url' %}">
					{% csrf_token %}
					{{bn_options_form.as_p}}
					<input class="btn btn-danger" type="submit" name="" value="Submit" onclick="displayToast()"/>
				</form>
				<br>
			</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row"> 
				<div class="container">
					{% if messages %}
						<div class="alert alert-primary" role="alert" id="form_allert">
						  	{% for message in messages %}
						    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
						    {% endfor %}
						</div> 
					{% endif %}
				</div>
			</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript">
		function OpenBnFuturesFormOnButtonClick()
			{
			document.getElementById('bn_futures_form').style.display = '';
			document.getElementById("bn_futures_formbutton").style.display = 'none'
			document.getElementById("bn_futures_bot_intro_text").innerHTML = "Please Enter Number of Lots you want to trade Bank Nifty";
			}
			var myform = document.getElementById('toggleAfterClick');
			myform.onsubmit = function(){
			    document.getElementById("bn_futures_bot_intro_text").innerHTML = "Please Enter Number of Lots you want to trade Bank Nifty";
			    console.log("harsha");
			};
	</script>
	<script type="text/javascript">
		function OpenBnOptionsFormOnButtonClick()
			{
			document.getElementById('bn_options_form').style.display = '';
			document.getElementById("bn_options_formbutton").style.display = 'none'
			document.getElementById("bn_options_bot_intro_text").innerHTML = "Please Enter Number of Lots you want to trade Bank Nifty";
			}
			var myform = document.getElementById('toggleAfterClick');
			myform.onsubmit = function(){
			    document.getElementById("bn_options_bot_intro_text").innerHTML = "Please Enter Number of Lots you want to trade Bank Nifty";
			    console.log("harsha");
			};
	</script>
	<script type="text/javascript">
		setTimeout(function() {
		    $('#form_allert').fadeOut('slow');
		}, 3000); // <-- time in milliseconds
	</script>
</body>
</html>





