<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>banknifty bot Fyers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		@media screen and (min-width: 601px) {
		  p {
		    font-size: 30px;
		    font-size: 1.25vw;
		  }
		}

		/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
		@media screen and (max-width: 600px) {
		  p {
		    font-size: 30px;
		    font-size: 3.5vw;
		  }
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Select your Trading Bot</a>
  	</nav>
  	<br><br>
	<div class="container align-items-center mb-3 ml-2 p-2">
		<div class="row"> 
			<div class="col-sm-4">
				<p class="p-1 mb-2 bg-light" style="color:red;"> Please give inputs to the BANK-NIFTY BOT between 7AM-9:15AM everyday. <br>No orders will be placed after 9:15AM </p> 
				<p id="banknifty_introText">Execute a Bank Nifty Bot</p>
				<button type="button" class="btn btn-primary" onclick="OpenBankniftyFormOnButtonClick()" id="bankniftybot_formbutton"> BankNifty Bot </button>
				<br>
				<form id="bankniftybot_form" method="POST" style="display:none" class="form-group" action="{% url 'bankniftybot_fyers' %}">
					{% csrf_token %}
					{{banknifty_form.as_p}}
					<input class="btn btn-danger" type="submit" name="" value="Submit" onclick="displayToast()"/>
				</form>
				<br>
			</div>
			<div class="col-sm-2"></div>
			<!-- <div class="col-sm-4">
				<p class="p-1 mb-2 bg-light" style="color:red;"> Please give inputs to the CRUDE-OIL BOT between 7Am-9:30PM everyday. <br>No orders will be placed after 9:30PM </p>
				<p id="crudeoil_introText">Execute a Crude Oil Bot</p>
				<button type="button" class="btn btn-primary" onclick="OpenCrudeoilFormOnButtonClick()" id="crudeoilbot_formbutton" > CrudeOil Bot </button><br>
				<form id="crudeoilbot_form" method="POST" style="display:none" class="form-group" action="{% url 'crudeoilbot_fyers' %}">
					{% csrf_token %}
					{{crudeoil_form.as_p}}
					<input class="btn btn-danger" type="submit" name="" value="Submit" onclick="displayToast()"/>
				</form>
				<br>
			</div> -->
		</div>
		<div class="row"> 
			<div class="col-sm-4">
				<p class="p-1 mb-2 bg-light" style="color:red;"> Please give inputs to the Bank-Nifty options BOT between 7AM-9:20AM everyday. <br>No orders will be placed after 9:20AM </p> 
				<p id="intraday_straddle_introText">Execute a Bank_Nifty Options Bot</p>
				<button type="button" class="btn btn-primary" onclick="OpenIntradayStraddleFormOnButtonClick()" id="intraday_straddle_bot_formbutton"> Bank-Nifty Options Bot </button>
				<br>
				<form id="intraday_straddle_bot_form" method="POST" style="display:none" class="form-group" action="{% url 'bn_optionsbuying_bot_fyers' %}">
					{% csrf_token %}
					{{bn_optionsbuying_form.as_p}}
					<input class="btn btn-danger" type="submit" name="" value="Submit" onclick="displayToast()"/>
				</form>
				<br>
			</div>
		</div>
	</div>
	<div class="row"> 
				<div class="container">
					{% if messages %}
						<div class="alert alert-primary" role="alert" id="form_allert">
						  	{% for message in messages %}
						    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
						    {% endfor %}
						</div> 
					{% endif %}
				</div>
			</div>
	<!-- <div class="container align-items-center mt-20">
		<h5 id="MonthlyReportText">Your Monthly report appears here.</h5>
		<div class="container">
			<a class="btn btn-primary" href="{% url 'generateReport' %}">Generate Report</a>
		</div>
		<br>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Date</th>
		      <th scope="col">Contract</th>
		      <th scope="col">Number Of Lots</th>
			  <th scope="col">P&L</th>
		    </tr>
		  </thead>
		  <tbody>
			{% for each_record in report %}
		    <tr>
				{% for key, value in each_record.items %}
					<td>{{ value }}</td>
				{% endfor %}
		    </tr>
			{% endfor %}
		  </tbody>
		</table>
	</div> -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript">
		function OpenBankniftyFormOnButtonClick()
			{
			document.getElementById('bankniftybot_form').style.display = '';
			document.getElementById("bankniftybot_formbutton").style.display = 'none'
			document.getElementById("banknifty_introText").innerHTML = "Please Enter Number of Lots you want to trade Bank Nifty";
			}
			var myform = document.getElementById('toggleAfterClick');
			myform.onsubmit = function(){
			    document.getElementById("banknifty_introText").innerHTML = "Please Enter Number of Lots you want to trade Bank Nifty";
			    console.log("harsha");
			};
	</script>
	<script type="text/javascript">
		function OpenCrudeoilFormOnButtonClick()
			{
			document.getElementById('crudeoilbot_form').style.display = '';
			document.getElementById("crudeoilbot_formbutton").style.display = 'none'
			document.getElementById("crudeoil_introText").innerHTML = "Please Enter Number of Lots you want to trade Crude Oil";
			console.log("harsha2");	
		}
			var myform = document.getElementById('toggleAfterClick');
			myform.onsubmit = function(){
			    document.getElementById("crudeoil_introText").innerHTML = "Execute again";
			    console.log("harsha");
			};
	</script>
	<script type="text/javascript">
		function OpenIntradayStraddleFormOnButtonClick()
			{
			document.getElementById('intraday_straddle_bot_form').style.display = '';
			document.getElementById("intraday_straddle_bot_formbutton").style.display = 'none'
			document.getElementById("intraday_straddle_introText").innerHTML = "Please Enter Number of Lots you want to trade Intraday Straddle";
			console.log("harsha2");	
		}
			var myform = document.getElementById('toggleAfterClick');
			myform.onsubmit = function(){
			    document.getElementById("intraday_straddle_introText").innerHTML = "Execute again";
			    console.log("harsha");
			};
	</script>
	<script type="text/javascript">
		setTimeout(function() {
		    $('#form_allert').fadeOut('slow');
		}, 3000); // <-- time in milliseconds
	</script>
</body>
</html>





